<main>
    <header>
        <div class="container">
          <div class="subcontainer">
            <app-navbar></app-navbar>
          </div>
        </div>
      </header>
      <div class="contactContainer">
        <button class="changes changes-sub" id="contact-edit-button">Edit background picture</button>
        <div class="imgContactContainer" [style.background-image]=profile.contact.backgroundImage>
            <h1>Contact Rocio</h1>
        </div>
        <div class="formContact">
            <form action="" class="contactFormElement">
                <div class="nameContainer formElements">
                <label for="name">Name *</label>
                <input type="text" id="name">
                </div>
                <div class="emailContainer formElements">
                <label for="email">Email *</label>
                <input type="email" id="email">
                </div>
                <div class="categoryContainer formElements">
                <label for="category">Category *</label>
                <select name="category" id="category">
                    <option value="business">Business Enquiry</option>
                    <option value="art">Art related Enquiry</option>
                    <option value="photography">Photography related Enquiry</option>
                    <option value="general">General Enquiry</option>
                </select>
                </div>
                <div class="subjectContainer formElements">
                <label for="subject">Subject *</label>
                <input type="text" id="subject">
                </div>
                <div class="messageContainer formElements">
                <label for="message">Message *</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <button class="contactFormSubmit">Submit</button>
            </form>
        </div>
      </div>
      <app-footer></app-footer>
</main>
