<main>
    <header>
        <div class="container">
          <div class="subcontainer">
          </div>
        </div>
      </header>
      <div class="contactContainer errorContainer">
        <div class="imgContactContainer" [style.background-image]='"url(https://images.unsplash.com/photo-1444065707204-12decac917e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80)"'>
            <h1>Uuuups.....</h1>
        </div>
        <div class="formContact errorBottomContainer">
            <form action="" class="contactFormElement">
                <h2>Sorry about that! We can't seem to find the page you are looking for.</h2>
            </form>
        </div>
      </div>
</main>
