<main>
    <header>
        <div class="container">
          <div class="subcontainer">
          </div>
        </div>
      </header>
      <div class="contactContainer errorContainer">
        <div class="imgContactContainer" [style.background-image]='"url(\"" + profile.contact.backgroundImage + "\")"'>
            <h1>Uuuups.....</h1>
        </div>
        <div class="formContact">
            <form action="" class="contactFormElement">
                <h2>Sorry about that! We can't seem to find the page you are looking for.</h2>
            </form>
        </div>
      </div>
</main>
