<main>
    <header>
        <div class="container">
          <div class="subcontainer">
            <app-navbar></app-navbar>
          </div>
        </div>
      </header>
      <section id="section1Gallery" class="backgroundImg" [style.background-image]='"url(\"" + profile.gallery.headerBackgroundImg + "\")"'>
        <div class="container">
        <div class="subcontainer subAbout">
          <div class="firstContainerAbout">
          <button *ngIf="isProfileOwnerAndIsLoggedIn" class="changes gallery-bgn-pic" (click)="changeHeaderBackgroundImg()">Edit background picture</button>
        </div>
        </div>
        </div>
      </section>
    <div class="wrapperContainer">
    <div class="oddPicWrapper secondPicWrapperAbout" id="slider-container">
      <section id="section4" class="artCollectionAbout artCollection">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <button *ngIf="isProfileOwnerAndIsLoggedIn" class="changes gallery-bgn-pic gallery-slider-edit" (click)="addImagesToSlidder()">Add pictures</button>
          <div class="carousel-inner">
            <div *ngFor="let image of profile.gallery.listOfImages; let i = index">
            <div [ngClass]="{'carousel-item':true, 'active': i===0 }">
              <img [src]=image.image class="d-block w-100" alt="...">
            </div>
          </div>
          </div>
        </div>
      </section>
    </div>
    </div>
    <section id="section5About" class="background backgroundImg" [style.background-image]='"url(\"" + profile.gallery.footerImage + "\")"'>
      <div>
        <button *ngIf="isProfileOwnerAndIsLoggedIn" class="changes gallery-bgn-pic" id="bottom-gallery-img" (click)="changeFooterBackgroundImg()">Edit background picture</button>
      </div>
    </section>
    <app-footer></app-footer>
</main>
