<nav class="navbar">
    <a class="logo" [routerLink]="['/profile', profile.id]">{{profile.owner}}</a>
    <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="logoMenu"><path d="M6 36v-3h36v3Zm0-10.5v-3h36v3ZM6 15v-3h36v3Z"/></svg>
    <div class="linksContainer" id="linksContainer">
      <span id="home"><a [routerLink]="['/profile', profile.id]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">home</a></span>
      <span><a routerLink="/profile/{{profile.id}}/about" routerLinkActive="active">about</a></span>
      <span><a routerLink="/profile/{{profile.id}}/gallery" routerLinkActive="active">gallery</a></span>
      <span><a routerLink="/profile/{{profile.id}}/contact" routerLinkActive="active">contact</a></span>
      <span><a routerLink="/api" routerLinkActive="active" *ngIf="!name">api</a></span>
      <span><a routerLink="/profile/{{profile.id}}/enquiry" routerLinkActive="active" *ngIf="name">enquiries</a></span>
      <span><a [routerLink]="['/profile', profile.id]" *ngIf="name" (click)="logout()" class="logoutButton">logout</a></span>
    </div>
</nav>
