@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=IBM+Plex+Sans+Condensed:wght@200;400&family=Nixie+One&family=Scope+One&display=swap');

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
  
main {
    height: 100vh;
    position: relative;
    top: -70px;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .logo{
      color: white;
      text-decoration: none;
      font-weight: 200;
  }
  
  .logoMenu{
      height: 27px;
      fill: white;
  }
  
  .container {
    width: 100%;
    margin: auto;
    height: 100px;
  }
  
  .subcontainer {
      width: 85%;
      margin: auto;
      height: 100%;
    }
  
  .navbar {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-branding {
    font-size: 2rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black;
  }

  .backgroundImg{
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  
  #section1{
    transition: all 0.25s ease-in-out;
    margin-top: 70px;
    height: 100vh;  
    background-image: url("https://images.unsplash.com/photo-1606821061030-9eedf225857b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1327&q=80");
  }
  
  .firstContainer{
      height: 101vh;
  }
  
  .firstContainer .titleContainer > h2 >span, .firstContainer .titleContainer > h3{
      font-family: 'Nixie One', cursive;
      color: white;
      background-color: rgba(0, 0, 0, 0.32);
      font-weight: 400;
  }
  
  .firstContainer .titleContainer > h2{
      font-size: 34px;
      margin-bottom: 10px;
      max-width: 55%;
      text-align: center;
  }
  
  .titleContainer{
      height: 88%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
  }
  
  .titleContainer > h3{
      margin-bottom: 20px;
  }

.logo{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.artCollection{
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artCollection > h2, #section5 > h2, #section6 > h2, #section5About > div > h2{
  font-family: 'Nixie One', cursive;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 17px;
}

.artCollection > p, #section5 > p, #section5About > div > p{
  font-family: 'Scope One', serif;
  min-width: 75%;
  text-align: center;
  margin-top: 16px;
}

.artCollection > button, #section5 > button, #section5About > div > button{
  font-family: 'Scope One', serif;
  padding: 10px 50px;
  letter-spacing: 3px;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  background-color: rgb(136, 136, 136);
  margin-top: .5em;
  border: 1px solid transparent;
  cursor: pointer;
}

.artCollection > button:hover, #section5 > button:hover{
  transition: all 0.25s ease-in-out;
  color: #f76161;
}

.pictures > img {
  height: 100%;
  opacity: 1;
  width: 100%;
  display: block;
}

.background {
  height: 850px;
  background-image: url("https://images.unsplash.com/photo-1571824655925-6ec62810a5c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

#section5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#section5 > h2, #section5 > p, #section6 > h2, #section5About > div > h2{
  color: white;
}

#section5 > button, #section5About > div > button {
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.26);
}

#section6 {
  height: 850px;
  background-image: url("https://images.unsplash.com/photo-1598344815973-e4775fc0c6c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1485&q=80");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section6 > a {
    font-family: Scope One, serif;
    transition: all 0.25s ease-in-out;
}

footer {
  height: 850px;
  background-color: black;
  font-family: 'Nixie One', cursive;
  color: white;
  display: flex;
  flex-direction: column;
}

.footerUp{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footerUp > div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerUp > div > a, .footerUp > div > h3{
  margin-top: 16px;
} 

.footerUp > div > h3{
  font-size: 14px;
}

.footerUp > div > a{
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.sizingFooterMiddleContainer{
  width: 80%;
}

.footerMiddle{
  display: flex;
  justify-content: center;
  height: 50%;
}

.footerMiddle > .sizingFooterMiddleContainer > h3, .footerDown > .sizingFooterMiddleContainer > h3{
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 7px;
}

.inputAndButton{
  display: flex;
}

.inputAndButton > form > input {
  border-radius: 6px;
  padding: 5px 10px;
  padding-left: 10px;
  line-height: 1.8;
  background: transparent;
  border: 1px solid #E1E1E1;
}

.inputAndButton > form > input::placeholder{
  color: white;
  font-family: 'Scope One', serif;
}

.inputAndButton > button {
  border-radius: 5px;
  padding: 6px 15px;
  font: 13px Scope One;
}

.footerDown{
  display: flex;
  justify-content: center;
}

.mediaHolder{
  display: flex;
  height: 30px;
}

.mediaHolder > div{
  height: 30px;
  width: 25px;
  background-color: black;
  margin-left: 10px;
}

.mediaHolder > div > svg{
  fill: white;
}

.footerDown > .sizingFooterMiddleContainer > h3{
  margin-bottom: 15px;
}

.footersContainer{
  height: 25%;
  width: 100%;
}

.rightsReserved{
  text-align: center;
  font-family: 'Scope One', serif;
}

.rightsReserved > p:nth-of-type(2){
  margin-top: 10px;
}

.footerWrapper{
  height: 90%;
}

.hoverRed > a:hover, .mediaHolder > div > svg:hover {
  transition: all 0.25s ease-in-out;
  color: #f76161;
  cursor: pointer;
  fill: #f76161;
}

.linksContainer{
  display: none;
}

.linksContainer > span:hover, .linksContainer > div > span:hover{
  text-decoration: overline;
  text-decoration-color: #f76161;
  transition: all 0.25s ease-in-out;
  color: #f76161;
  cursor: pointer;
}
  
.listContainer > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* opacity: 0; */
    display: none;
    position: absolute;
    left: 0;
    width: auto;
    min-width: 95px;
    z-index: 2;
    overflow-x: hidden;
    max-height: 500px;
    transition: all 0.4s ease;
    background: rgba(247,97,97, 0.28);
    font-family: Advent Pro, sans-serif;
    font-weight: 400;
}
  
.listContainer {
    float: left;
    width: auto;
    word-wrap: break-word;
    position: relative;
    z-index: 3;
    margin: 0 2px;
}
  
.listContainer > ul > li{
    padding: 5px;
    height: 20px;
    font-size: 11px;
    float: left;
    width: max-content;
    word-wrap: break-word;
    position: relative;
    z-index: 3;
    margin: 0 2px;
}
  
.listContainer:hover > ul{
    display: block;
}
  
.listContainer > ul > li:hover{
    color: #f76161;
    cursor: pointer;
}

#getInTouch{
  color: white;
}

#getInTouch:hover{
  color: #f76161;
  cursor: pointer;
}

/* #home-project-img:hover + img{
  transition: all 0.25s ease-in-out;
  opacity: 0.5;
}

#sub-to-change:has(+ #sub-changer:hover) {
  transition: all 0.25s ease-in-out;
  color: #f76161;
} 

#section1:has(div > div > div > #background-img-home:hover) {
  background-image: linear-gradient(rgba(250,250,250, 0.3),
  rgba(250,250,250, 0.6)), url('https://images.unsplash.com/photo-1606821061030-9eedf225857b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1327&q=80');
}  */


@media (min-width: 992px) { 
  .wrapperContainer{
    display: flex;
    flex-direction: column;
  }

  .oddPicWrapper{
    display: flex;
    justify-content: space-between;
    height: 620px;
  }

  .evenPicWrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 620px;
  }
  .footerUp{
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  footer{
    display: flex;
    justify-content: center;
    height: 550px;
  }

  .footerUp{
    height: 50%;
    align-items: flex-start;
    width: 50%;
  }

  .footerWrapper {
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .footersContainer{
    height: 50%;
    width: 35%;
  }

  .footerUp > div > h3 {
    margin-top: 0;
}

}

@media (min-width: 1200px) {
  #section5 > button {
    margin-bottom: 130px;
}

#hamburger{
  display: none;
}
.linksContainer{
  display: flex;
}

.linksContainer > span, .linksContainer > div > span, .listContainer > ul > li {
  color: #ffffff;
  font-size: 14px;
  fill: #ffffff;
  letter-spacing: 0em;
  text-indent: 0em;
  text-transform: uppercase;
  font-family: 'Advent Pro', sans-serif;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.iconArtwork{
width: 20px;
}
}

@media (min-width: 1400px) {
  .background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
  }

  #section1{
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  #section6 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .oddPicWrapper, .evenPicWrapper{
    height: 720px;
  }

  .pictures{
    width: 1300px;
  }

  .artCollection{
    width: 520px;
  }
}