#signupButton{
    width: 135px;
}

.loginApi{
    margin-top: 30px;
}

.loginApi > a {
    text-decoration: underline;
}

.formElements > p{
    width: 600px;
}

.formElements > p > span{
    color: lightgray;
}